.cards-area {
  display: flex;
  flex-direction: column;
  column-gap: 5px;
  padding: 25px;
  flex-wrap: wrap;
  row-gap: 10px;

  min-height: 100vh;

  .tables {
    display: flex;
    column-gap: 5px;
    row-gap: 5px;
    flex-wrap: wrap;
  }
}

