:root {
  --primary-color: #007bff;
  --primary-gradient: linear-gradient(to right, rgb(37, 94, 173) 0%, rgb(55, 28, 142) 99%);
  --primary-gradient-darker: linear-gradient(to right, rgb(55, 112, 193) 0%, rgb(85, 18, 122) 99%);
  --title-color: #322153;
  --text-color: #6C6C80;
  --overlay-background: rgba(0,0,0,.9);
  --overlay-text-color: #F0F0F5;
  --background-white-color: #F0F0F5;
}
